<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

    {% include 'components/usernavbar.html' %}
    {% include 'components/usersidebar.html' %}

    <!-- OTHER DATA -->
    <div class="container-fluid">
        {% include 'components/userorderCount.html' %}
        {% include 'components/usercartCount.html' %}
    </div>
    <div id="PROFILE" class="show">
        {% include 'components/userprofile.html' %}

    </div>
    <!-- {% include 'components/support.html' %} -->



    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>